.container
div#footer
	div.foot-mark
		img(src="/image/footer-mark.png")
	div.code-call
		img(src="/image/code-call.png")
	div.ft
		div.footer-link
			span
				a(href='/') 首页
			span
				a(href='/') 首页
			span
				a(href='/') 首页
			span
				a(href='/') 首页
		div.footer-copy
			span ©2015 忆光年工作室