link(href="/libs/bootstrap/dist/css/bootstrap.css",rel="stylesheet")
link(href="/libs/style/index.css",rel="stylesheet")
link(href="/libs/style/slicebox.css",rel="stylesheet")
link(href="/libs/style/demo.css",rel="stylesheet")
link(href="/libs/style/custom.css",rel="stylesheet")
link(href="/libs/style/responsive-nav.css",rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/js/responsive-nav.min.js")
script(src="/js/jquery.slicebox.js")
script(src="/js/modernizr.custom.js")
