block content

#editTplb.modal.fade
  .modal-dialog
    .modal-content
      form(method="POST", action="/manager/Phoslider",enctype="multipart/form-data")
        .modal-header #{phosEdit.title}
        .modal-body
            .form-group
                label(for="inputTitle") 标题
                input#inputTitle.form-control(type="text", name="Phoslider[title]" value=#{phosEdit.title})
            .form-group
                label(for="inputOrder") 序号
                input#inputOrder.form-control(type="text", name="Phoslider[order]" value=#{phosEdit.order})
            .form-group
                label(for="inputRedirlink") 链接
                input#inputRedirlink.form-control(type="text", name="Phoslider[redirlink]" value=#{phosEdit.redirlink})
            .form-group
                label(for="uploadPho") 上传图片
                input#uploadPho(type="file", name="uploadPho")
        .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") 关闭
            button.btn.btn-success(type="submit") 提交