extends ../layout
block content
	div.wrapper
		ul#sb-slider.sb-slider
			li
				a(target="_blank")
					img(src="/image/01.jpg" alt="image1" )
			li
				a(target="_blank")
					img(src="/image/02.jpg" alt="image2" )
			li
				a(target="_blank")
					img(src="/image/03.jpg" alt="image3" )
			li
				a(target="_blank")
					img(src="/image/04.jpg" alt="image4" )
			li
				a(target="_blank")
					img(src="/image/05.jpg" alt="image5" )
		div#shadow.shadow
		div#nav-arrows.nav-arrows
			a(href="#") Next
			a(href="#") Previous
script(src="/js/index.js")