doctype
html
	head
		mate(charset="utf-8")
		title #{title}
		link(rel="shortcut icon" href="/image/favicon.ico")
		include ./includes/head
	body
		include ./includes/header
		block content
		include ./includes/footer
